body {
    margin: 0;
}
.main-header {
    background-color: #1F2937;
}
.main-body {
    margin: 75px 0px;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F9FAF8;
    font-size: 38px;
}
.main-body h1, .main-body h2, .main-body a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 38px;
} 

.photos div p {
    color: #1F2937;
}

.photos div p a {
    color: #1F2937;
    text-decoration: underline;
}



a {
    text-decoration: none;
}

h2 {
    font-size: 30px;
}

.right-subheader p a, p {
    font-size: 15px;
    color: #F9FAF8;
}

.right-subheader p a {
    text-decoration: underline;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;    
}

.right {
     gap: 35px;
}

.header-title {
    justify-content: center;
}

.subheader-info {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}

.floppa-subheader {
    width: 400px;
}

.left-subheader {
    margin-left: 50px;
}

.right-subheader{
    margin-right: 100px;
}

.main-body .photos img {
    height: 200px;
    width: auto;
}
.main-body .photos p a {
    font-size: small;
}

.photos {
    display: flex;
    gap: 30px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px 0px;
}

.quote em {
    font-size: 36px;
    color: #232b36;
}

.quote h1 {
    margin-left: 200px;
    color: #1F2937;
    font-size: 30px;
}

.subscription {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding: 80px 0px;
}

.sub-box {
    background-color: #3882f6 ;
    height: 150px;
    width: 70%;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sub-box h1 {
    font-size: 30px;
    font-weight: 400;
}

.donation-outer {
    background-color: white;
    border-radius: 25px;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donation-inner {
    background-color: #3882f6;
    border-radius: 25px;
    height: 85%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.donation-inner a {
    font-size: 25px;
}

.endtag {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endtag h1, .endtag a {
    color: #1F2937;
    font-size: 20px;
}
.endtag a {
    text-decoration: underline;
}